api/node_modules/*

site/dist/*
site/node_modules/*
site/bower_components/*
npm-debug.log
api_v1/node_modules/*

site_v2/node_modules/*
site_v2/bower_components/*


site_v1/node_modules/*
site_v1/bower_components/*