.loop-box-wrapper{
	position: relative;
    border: 1px solid #e3e3e3;
    padding: 2px;
    border-radius: 2px;
    background: #f5f5f5;
    overflow: hidden;
    min-height: 100px
}

.loop-box-item{
    border: 1px solid #e3e3e3;
    background: #fff;
    position: absolute;
    min-height: 100px;
    min-width: 100px;
}

.loop-box-controls button{
    position: absolute;
    top: -1px;
    bottom: -1px;
    z-index: 1000;
    background: #fff;
    border: 1px solid #e3e3e3;
}

.loop-box-controls.left button{
	left: -1px;
}

.loop-box-controls.right button{
	right: -1px;	
}