#main{
	overflow:auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.nav-custom{
    box-shadow: 0px 0px 25px #000;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-custom.dark{
    background: #232323;	
}

.nav-custom.light{
    background: #e2e2e2;
}

.nav-custom.nav-lg{
    height: 200px;
    padding: 70px;
}