.teh-list-view-wrapper{
	min-height: 480px;
	background: #efefef;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    padding: 5px;
}

.teh-list-view-header{	
	position: relative;
    min-height: 38px;
    border-bottom: 1px solid #e2e2e2;
}

.teh-list-view-button{
    border-radius: 0px;
    margin-right: -1px;
    height: 28px;
    width: 32px;
}

.teh-list-view-button.active{
	color: #069742;
}

.teh-list-view-mode-toggle{
	position: absolute;
	top: 2px;
	right: 2px
}

.teh-list-view{
    overflow: auto;
    width: 100%;
    background: #fff;
    height: 430px;
}

.teh-list-view.list{
}

.teh-list-view.list .loader,
.teh-list-view.grid .loader{
	text-align: center;
    color: #333;
}

.teh-list-view.list>div{
	background: #efefef;
}

.teh-list-view.list>div:nth-of-type(odd){
	background: #fff;
}

.teh-list-view.grid{
    padding: 0px;
}
	

.teh-search-bar{

}

.teh-search-bar input{
	width: 200px
}


.no-padding{
	padding: 0;
}

.no-margin{
	margin: 0;
}


.my-grid-item{
	min-height: 210px;
    background: #efefef;
    border: 1px solid #e8e8e8;
    margin: 2px;
    padding: 10px;
}

.my-list-item{
	min-height: 100px;
	padding: 5px
}